body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-image: url(/frontend/static/images/background-1.jpg)!important;
    padding-top: 100px;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: white;
}

.nav-custom {
    border-radius: 10px!important;
    margin: 20px!important;
    color: white!important;
    font-family: 'Ubuntu', sans-serif;
}

.footer-custom {
    border-radius: 10px!important;
    margin: 20px!important;
}

.p-4 {
    border-radius: 0px 0px 5px 5px;
}